// --------------------------------------------------
// Import
// --------------------------------------------------
@use '../mixins' as mx;

/*------------------------------------------------------------------
  	[Promo Block]
------------------------------------------------------------------*/

.promo-block {
	padding: 220px 0 130px;

	.promo-block-title {
		@include mx.font($size: 70px);
		color: mx.$color-white;
		line-height: 1;

		@media (max-width: mx.$screen-xs-min) {
			@include mx.font($size: 50px);
		}
	}

	.promo-block-text {
		@include mx.font($size: 25px);
		color: mx.$color-white;
	}

	.promo-block-divider {
		border-bottom: 1px solid rgba(255,255,255,.4);
		padding-bottom: 20px;
		margin-bottom: 35px;
	}
}