// --------------------------------------------------
// Import
// --------------------------------------------------
@use '../mixins' as mx;

/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/

.service {
	background: mx.$color-white;
	padding: 30px;

	.service-element,
	.service-info {
		@include mx.translate3d(0,0,0);
		@include mx.cubic-transition($delay: 0, $duration: 300ms, $property: (all));
	}

	.service-icon {
		display: block;
		@include mx.font($size: 30px);
		color: mx.$color-link-hover;
		margin-bottom: 30px;
	}

	&:hover {
		.service-element {
			opacity: 0;
			@include mx.translate3d(0,-100%,0);
			@include mx.cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}

		.service-info {
			@include mx.translate3d(0,-30%,0);
			@include mx.cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}
	}
}