// --------------------------------------------------
// Import
// --------------------------------------------------
@use '../mixins' as mx;

/*------------------------------------------------------------------
  	[Social Icons]
------------------------------------------------------------------*/

.social-icons {
	display: inline-block;
	@include mx.size(40px);
	@include mx.font($size: 16px);
	color: mx.$color-white;
	text-align: center;
	border-radius: 50%;
	vertical-align: middle;
	padding: 11px;
	@include mx.cubic-transition($delay: 0, $duration: 300ms, $property: (all));

	&:hover {
		color: mx.$color-heading;
		background: mx.$color-white;
		@include mx.cubic-transition($delay: 0, $duration: 300ms, $property: (all));
	}
}